In [2]:
import pandas as pd

In [3]:
mi_complies = pd.read_parquet('/mnt/sdd/ducbui/projects/data2/consent/2024-10-04/all_complies_0k_20k.parquet')

In [13]:
toronto_complies = pd.read_parquet('/mnt/sdd/ducbui/projects/data2/consent/2024-10-12/all_complies_0k_20k.parquet')

In [14]:
sf_complies = pd.read_parquet('/mnt/sdd/ducbui/projects/data2/consent/2024-10-10/all_complies_0k_20k.parquet')

In [11]:
mi_complies.site.value_counts().to_frame().reset_index().head(20)

                  site  count
0        cleveland.com    454
1      bandsintown.com    429
2          nerdist.com    425
3               al.com    421
4               nj.com    409
5       oregonlive.com    404
6             wtop.com    401
7          gazette.com    388
8         pennlive.com    386
9           active.com    385
10         almanac.com    379
11     newrepublic.com    377
12        syracuse.com    374
13            milb.com    371
14      dictionary.com    366
15  smithsonianmag.com    366
16        gulfnews.com    365
17       aljazeera.com    356
18       audiomack.com    341
19        cardgames.io    338

In [12]:
toronto_complies.site.value_counts().to_frame().reset_index().head(20)

                  site  count
0       oregonlive.com    254
1        thesaurus.com    243
2        cleveland.com    229
3            mlive.com    229
4      newrepublic.com    227
5         syracuse.com    227
6     atlasobscura.com    225
7        giantbomb.com    222
8         pennlive.com    220
9            slate.com    211
10        masslive.com    210
11  smithsonianmag.com    206
12       nbcsports.com    198
13    sportingnews.com    196
14              al.com    195
15          c-span.org    193
16         nerdist.com    191
17              nj.com    191
18      vanityfair.com    185
19       teenvogue.com    185

In [15]:
sf_complies.site.value_counts().to_frame().reset_index().head(20)

                site  count
0        nerdist.com    416
1          jpost.com    393
2     dictionary.com    356
3        gazette.com    339
4    deseretnews.com    330
5            ksl.com    328
6        haaretz.com    327
7      thesaurus.com    322
8      aljazeera.com    320
9   atlasobscura.com    296
10          wtop.com    290
11          wral.com    286
12  sportingnews.com    284
13        active.com    269
14       deseret.com    258
15  timesofindia.com    244
16        tunein.com    242
17          9gag.com    234
18     radiotime.com    232
19   newrepublic.com    229